  .mainn{
   background-color: #160e2a;
  }
  .twopart{
   display: flex;
   height:70vh;
   width:100vw;
   /* background-color: blue; */
  }
  .leftside{
   /* background-color: aqua; */
   height: 100%;
   width:50%;
  }
  .leftside h1{
   margin-left: 50px;
   font-size: 40px;
   color:#4c75cc;
  }
  .leftside >h3{
   margin-left: 70px;
  }
  .work{
   color:#A69CD0;
   line-height: 30px;
  }
   .workshop{
   font-size:40px;
    color:#8c549e;
  }
  
   .rightside{
    
   height: 100%;
   width: 50%;
    padding-top: 50px;
  } 
  .rightside> img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
  }
  .club{
   background-color: #160e2a;
  }
 .msg{
    display: flex;
    justify-content: space-evenly;
    background-color: #160e2a;
    /* background-color: brown; */
 }
 .msg1,.msg2{
  display: flex;
   gap: 10px;
 }
  h1{
    padding-top: 30px;
    padding-left: 20px;
    background-color: #160e2a;
 }
 .about{
    margin-top: 20px;
   display: flex; 
   background-color: #160e2a;
 }
 .left{
  width:50%;
  background-color: #160e2a;
 }
 .left p{
    width:80%;
    text-align: justify;
    padding-left: 60px;
 }
 .right{
    width:50%;
    background-color: #160e2a;
 }
 .right>img{
    padding-top: 50px;
    height:240px;
    width:380px;
 }
 .head h1{
  text-align: center;
  background-color: #160e2a;
 }
 .scheduleTable{
   display: grid;
   grid-template-columns: repeat(3,auto);
   border: 1px solid  rgba(245, 222, 179, 0.507);
   width: 65%;
   margin: 50px auto;
}
.tableBox{
   border: 1px solid rgba(245, 222, 179, 0.507);
   padding: 15px 8px;
   border-collapse: collapse;
   text-align: center;
}
.tableBox:nth-child(1),
.tableBox:nth-child(2),
.tableBox:nth-child(3){
   background: #7d65ff92;
   font-weight: 600;
}
/* .switch button{
 padding:15px;
 padding-left: 30px;
 padding-right: 30px;
 background-color:#A69CD0;;
 color:rgb(30, 24, 24);
 border-radius: 100px;
 border: black;
 font-weight:600;
}
.switch{
   display: flex;
 justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  height:100px;
  width: 30vw;
  margin-left: 390px;
}
.switch :hover{
   padding:17px;
 padding-left: 33px;
 padding-right: 33px;
 font-size: 15px;
}  */
.bannerRegister{
   height:20vh;
}
.bannerRegister>a>button{
   margin-left: 470px;
   margin-bottom: 50px;
   color: #0B0715;
   padding: 12px 27px;
   border: 2px solid white;
   border-radius: 90px;
   font-weight: 600;
   flex-shrink: 0px;
   background-color: #A69CD0;
   border: #A69CD0;
   animation: glowing 1300ms infinite;
}

@keyframes glowing {
   0% {
     background-color: #A69CD0;
     box-shadow: 0 0 5px #A69CD0;
   }
   50% {
     background-color: #A69CD0;
     box-shadow: 0 0 20px #A69CD0;
   }
   100% {
     background-color: #A69CD0;
     box-shadow: 0 0 5px #A69CD0;
   }
}
/* responsive */
@media screen and (max-width:600px) {
   .club{
      height:auto;
   }
   .twopart{
      flex-direction: column-reverse;
      display: flex;
      height: auto;
      width: 100vw;
   }
   .msg{
      flex-direction: column;
      margin-left: 30px;
      gap: 10px;
      padding-top: 15px;
   }
   .leftside{
      width: 100%;
   }
   .leftside h1{
      margin-left: 20px;
      font-size: 40px;
      padding-top: 0px;

   } 
   .leftside h3{
      margin-left: 30px;
   }
    
   .rightside{
      height:300px;
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0px;
   }
   h1{
      font-size: 29px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 0px;
      text-align: center;
  }
  .about{
   flex-direction: column;
   margin:0px 0px ;
  }
  .left{
   width: 98%;
  }
  .left p{
   width:90%;
  }
   .right{
      width:90%;
      padding-top: 30px;
   }
   .right img{
      width:95%;
      padding-left: 55px;
   }
   .head h1{
      padding-bottom: 0px;
      font-size: 29px;
   }
   .scheduleTable{
      width: 90%;
      padding-top: 0px;
  }
  .bannerRegister>a>button{
   display: flex;
   margin: auto;
   
  }

}